.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    /* height: 200px; */
    padding: 20px 20px 20px 20px;
    background-color: #caa8f5;
    border: 1px solid #592e83;
    border-radius: 20px;
    column-gap: 5px;
}

.sign-up-container>form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sign-up-title{
    color: #592e83;
    font-size: 20px;
    font-weight: bold;
}

.input{
    border: none;
    border-bottom: 2px solid #592e83;
    background-color: #caa8f5;
    color: #592e83;
    height: 30px;
    width: 90%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #caa8f5 inset !important;
}

.input:focus{
    outline: none;
}

#error-text-message{
    color: #592e83;
    padding-top: 5px;
    font-weight: bold;
}

.bottom-div{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #592e83;
}

.bottom-div > button{
    width: 70px;
}

.bottom-div > p > a{
    text-decoration: none;
    font-weight: bold;
}